


<div class="container">

   


    <div>

        <h1 id="title">Welcome to The ATX Burger Buffet</h1>
        <p id="tagline">A place where you can consume as many burgers as you like without suffering any of the consequences. I'll eat to that!</p>
        
        <div id="container-intro">
            <img id="container-image" src="assets/img/bacon-double-cheeseburger-180x150.jpg">
                <p id="intro-text">Austin, Texas, known for it's art and music scene is also home to many tasty varieties of hamburger. Whether it's classic burger joints like <a href="http://hutshamburgersatx.com/" target="_blank">Hut's Hamburgers</a>, <a href="http://www.topnotchaustin.com/" target="_blank">Top Notch</a>, and <a href="http://www.dans-hamburgers.com/" target="_blank">Dan's Hamburgers</a> or gourmet spots like <a href="https://www.hopdoddy.com/" target="_blank">Hopdoddy Burger Bar</a>, <a href="https://www.secondbarkitchen.com/" target="_blank">Second Bar + Kitchen</a>, and <a href="https://www.justines1937.com/" target="_blank">Justine's Brasserie</a> or even fast-food favorities like <a href="http://whataburger.com/" target="_blank">Whataburger</a>, <a href="https://pterrys.com/" target="_blank">P.Terry's Burger Stand</a>, <a href="http://www.fiveguys.com/" target="_blank">Five Guys</a>, and <a href="https://mightyfineburgers.com/" target="_blank">Mighty Fine Burgers Fries &amp; Shakes</a>, there's a burger in the ATX for every appetite. Bon Appétit.</p>
        </div>

        <h2 id="title-create">Create Your Own Burger</h2>

        <form class="create-form">

        <div class="form-group">
        <!-- <label for="burg">Custom Burger:</label> -->
            <input type="text" id="burg" name="name" placeholder="Type your favorite burger here...">
        </div>

        <!-- <div class="form-group">
            <label for="devoured">Devoured?</label><br>
            <input type="radio" name="devoured" value="1" checked> Devoured (1/true).<br>
            <input type="radio" name="devoured" value="0"> Not Devoured (0/false).
        </div> -->

        <button type="submit" class="add-burger">Add Burger!</button>
        </form>
       

    </div>

<!-- =========================================== -->

    <div class="row">

    <div class="column-left">
        <h2 id="title-left">Burger Menu</h2>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}                
                    <p><button class="change-devour" data-id="{{id}}" data-newdevour="true">Devour It!</button> {{burger_name}}</p>
                <!-- <p>Devoured?: {{devoured}}</p> -->   
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="column-right">
        <h2 id="title-right">Burgers Consumed</h2>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                   <span style="white-space: nowrap;"><img id="emoji" src="assets/img/yum-60x60.png">&nbsp;<p id="consumed">{{burger_name}}</p></span>
                <!--  <p>Devoured?: {{devoured}}</p> -->
                {{/if}}
            {{/each}}        
        </ul>
    </div>

    </div>



   

</div>

<br><br>

